.bg-body-tertiary {
    background-color: #0C70F2 !important;
    ;
}

.logo-nav {
    color:white !important;
    font-weight: bold;
    font-size: 30px;

}

.link-nav {
    color: white;
    font-weight: bold;
    font-size: 15px;
}
